@import url('https://fonts.googleapis.com/css?family=Rajdhani:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lilita+One|Montserrat|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
body {
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    margin: 0 auto;
    background: whitesmoke;
}


/*HEADER*/

.shadow-header {
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 1px 1px 15px rgb(189, 189, 189);
    width: 100%;
    background: transparent;
    display: inline-block;
    background-repeat: no-repeat;
}

.header {
    background: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 90px;
    background-image: url("../images/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255, 255, 255, .95);
    background-blend-mode: overlay;
}

.wrapper-menu,
.wrapper-hero {
    max-width: 1200px;
    flex: 1;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 5%;
}

.menu {
    height: inherit;
    font-size: 20px;
}

.menu ol {
    display: flex;
    height: inherit;
}

.menu ol li {
    height: inherit;
}

.link {
    align-items: center;
    display: flex;
    font-size: 16px;
    height: inherit;
    margin: auto 10px;
    text-decoration: none;
    color: dodgerblue;
    padding: 8px 15px;
}

.link-focus {
    font-weight: bolder;
    border: 2px solid dodgerblue;
    border-radius: 15px;
    padding: auto 10px;
    height: 1em;
}

.menu ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    /*margin: top right bottom left*/
    margin: 15px 0 0 0;
    display: flex;
}


/*PRESENTACION*/

.hero {
    margin-top: -11px;
    background-color: white;
    display: flex;
    border-bottom: 5px solid rgba(0, 174, 255, 0.616);
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../images/hero-backround.jpg");
    background-size: 100%;
    background-position: bottom;
    background-color: rgba(255, 255, 255, .7);
    background-blend-mode: overlay;
}

.wrapper-hero {}

.hero img {
    margin: 0 auto;
    width: 35%;
}

.hero h1 {
    /*margin: top right bottom left*/
    width: 60%;
    margin: 0 auto;
    font-family: 'Montserrat', "Segoe UI", sans-serif;
    font-size: 42px;
    line-height: 1.5em;
    color: #444;
}

.hero h1 strong {
    color: rgb(3, 180, 180);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Segoe UI', sans-serif;
    color: dodgerblue;
}

h2 {
    font-size: 28px;
}


/*PORTAFOLIO*/

.portfolio {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

.portfolio h2 {
    text-transform: uppercase;
    color: #07f;
    font-weight: normal;
    letter-spacing: 2px;
    font-family: 'Montserrat', "Segoe UI", sans-serif;
    margin: 0 auto 1em auto;
    font-size: 30px;
}

.project {
    /*border: (tamaño), (tipo), (estilo)*/
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #aaa;
    margin-bottom: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #444;
}

.project-title {
    font-size: 40px;
    color: #19cc84;
}

.project-subtitle {
    font-size: 14px;
    margin: 10px 0;
    color: #2b3de1;
}

.project-date,
.project-url {
    margin: 10px 0;
    font-family: 'Montserrat', "Segoe UI", sans-serif;
    color: #1269ff;
}

.project-description {
    text-align: left;
    line-height: 1.5em;
    font-weight: bold;
}

.project-details {
    width: 50%;
}

.project-imageWrapper {
    width: 50%;
}

.project-image {
    max-width: 100%;
}

.project-title {
    margin: 0;
}


/*Experiencia*/

.design-facet-title {
    margin-left: 20px;
    color: dodgerblue;
}

.design-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
}

.design {
    width: 40%;
    margin: 1%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #aaa;
    background: #444;
    margin-bottom: 40px;
}

.design-imageWrapper {
    padding: 0;
    margin: 0;
    justify-content: center;
}

.design-image {
    width: 100%;
    object-fit: cover;
}

.design-details {
    margin: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #666;
    padding: 3%;
    margin: 10%;
    margin-top: -15%;
    text-align: center;
    position: relative;
    padding-bottom: 7%;
}

.design-title {
    font-size: 26px;
    font-family: 'Montserrat', "Segoe UI", sans-serif;
    margin-bottom: 0;
    margin-top: 3%;
}

.design-description {
    margin-bottom: 8%;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: bold;
    color: #444444;
}

.design-url {
    border: 2px solid;
    padding: .2em 1.2em;
    margin-bottom: 9%;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #aaa;
    text-transform: capitalize;
}

.purple {
    color: purple;
}

.tomato {
    color: tomato;
}

.green {
    color: #19cc84;
}

.blue {
    color: #0077ff;
}


/*FOOTER*/

.footer {
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', "Segoe UI", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    background-image: url("../images/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, .9);
    background-blend-mode: overlay;
    flex-wrap: wrap;
    padding: 1em 0;
}

.footer-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.contact {
    background-image: radial-gradient( circle at top right, #37ddff, #0086ff 100%);
    color: white;
    display: flex;
    justify-content: center;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    padding: 2em 0;
    width: 90%;
    max-width: 1200px;
    align-items: center;
}

.contact h3 {
    color: white;
    font-size: 28px;
    margin: 0 0 15px 0;
}

.contact form {
    margin: 0 auto;
}

.social {
    margin: 0 auto;
}

.social-link {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.github,
.instagram,
.facebook,
.twitter {
    background-size: 60px 60px;
    margin: 0 10px;
}

.social-link.github {
    background-image: url("../images/github.svg");
}

.social-link.instagram {
    background-image: url("../images/instagram.svg");
}

.social-link.facebook {
    background-image: url("../images/facebook.svg");
}

.social-link.twitter {
    background-image: url("../images/twitter.svg");
}

.text-email {
    padding: 15px 0 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    width: 250px;
    font-weight: bold;
    border: 0;
    box-shadow: 1px 0px 5px #666;
    font-family: 'Montserrat', "Segoe UI", sans-serif;
    color: #444444;
    margin-right: 20px;
    background-image: url("../images/email.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 2px;
}

.button-send-email {
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    background-image: url("../images/sent.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    border: 0;
    color: white;
    box-shadow: 1px 0px 5px #666;
}

.content-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.equipment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.equipment img {
    width: 100%;
}

.facet-wrapper {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 4%;
    padding-top: 1%;
}


/*Desktop first empezamos por el elemento mas grande*/

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {
    .link {
        margin: 10px;
    }
    /*HERO*/
    .hero {
        height: auto;
        margin-top: 0;
    }
    .hero h1 {
        margin-top: 2%;
        font-size: 2em;
        width: 100%;
        text-align: center;
    }
    .hero img {
        width: 50%;
    }
    .wrapper-hero {
        padding: 0 5%;
    }
    /*HEADER*/
    .wrapper-menu {
        display: inline;
    }
    .header {
        height: auto;
    }
    .header ol {
        display: inline-block;
    }
    .menu,
    .menu li a,
    .logo {
        display: block;
        text-align: center;
    }
    .link-focus {
        margin-bottom: 15px;
    }
    /*PORTAFOLIO*/
    .portfolio h2,
    .design-facet-title {
        font-size: 24px;
    }
    .project {
        display: block;
        padding: 4%;
    }
    .project-details {
        width: auto;
        font-size: 20px;
    }
    .project-title {
        font-size: 1.5em;
    }
    .project-subtitle {
        font-size: .9em;
    }
    .project-date {
        font-size: .8em;
    }
    .project-url {
        font-size: .8em;
    }
    .project-description {
        font-size: .8em;
        margin: .3em auto;
    }
    .project-title,
    .project-subtitle,
    .project-date,
    .project-url {
        margin: .3em 0;
    }
    .project-imageWrapper,
    .project-image {
        width: 100%;
        margin: auto;
    }
    .design-title {
        font-size: 18px;
    }
    .design-description,
    .design-url {
        font-size: 12px;
    }
    .contact-wrapper {
        height: auto;
        display: block;
        padding: 2em 0;
        text-align: center;
    }
    .contact-wrapper h3 {
        font-size: xx-large;
    }
    .contact form {
        margin: 0 auto 2em auto;
    }
    .footer-wrapper {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 1.2em;
    }
    .project-details {
        font-size: 14px;
    }
    .portfolio h2,
    .design-facet-title {
        font-size: 18px;
    }
    .design-list {
        display: block;
    }
    .design {
        margin: 10% auto;
        width: 90%;
    }
    .design-title {
        font-size: 16px;
    }
    .design-description,
    .design-url {
        font-size: 14px;
    }
    .text-email {
        font-size: 16px;
        padding: .8em auto .8em 0;
    }
    .text-email {
        width: 60%;
    }
    .button-send-email {
        max-width: 15%;
        width: 15%;
        margin-top: 1em;
    }
    .social-link {
        background-size: 50px;
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 320px) {
    .hero h1 {
        font-size: .9em;
    }
    .project-details {
        font-size: 10px;
    }
    .project-description,
    .portfolio,
    .project-details {
        text-align: center;
    }
    .portfolio h2,
    .design-facet-title {
        font-size: 14px;
    }
    .design-description,
    .design-url {
        font-size: 10px;
    }
    .contact-wrapper h3 {
        font-size: x-large;
    }
    .social-link {
        background-size: 40px;
        width: 40px;
        height: 40px;
    }
    .contact form .button-send-email {
        margin-top: 1em;
    }
}